.flex-container {
    display: flex;
    align-items: baseline;
    background: white;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.reply-form {
    width: 100%;
}

.form-field {
    width: 100%;
}

textarea {
    font-size: 11pt;
}