<form method="post" action="AddToRole">
    <div class="form-group">
        <div class="form-control">
            <label for="role">Role</label>
            <input type="text" id="role" name="role" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>