<h1>Create Claim</h1>

<form method="post" action="CreateRole">
    <div class="form-group">
        <div>
            <label for="rolValue">
                Role Value
            </label>
            <div class="form-control">
                <input type="text" id="roleValue" name="roleValue" />
            </div>
        </div>

    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>