<h1>Create Claim</h1>

<form method="post" action="Create">
    <div class="form-group">
        <div>
            <label for="claimType">
                Claim Type
            </label>
            <div class="form-control">
                <input type="text" id="claimType" name="claimType" />
            </div>
        </div>

        <div>
            <label for="claimType">
                Claim Value
            </label>
            <div class="form-control">
                <input type="text" id="claimValue" name="claimValue" />
            </div>
        </div>

    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>