<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Juan Plus Juan</a>
  <button class="navbar-toggler d-lg-none" type="button" 
      (click)="isShown = !isShown"
     aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': isShown }">
    <ul class="navbar-nav mr-auto" *ngIf="!isAuthenticated">
      <li>
        <button class="btn btn-primary" (click)="register()">Signup</button>
        <!-- <a class="p-2 text-dark" routerLink="/login">Login</a>      -->
        <button class="btn" (click)="login()">Login</button>
      </li>      
    </ul>    

    <ul class="navbar-nav mr-auto" *ngIf="isAuthenticated">
      <li>
        <button mat-button [matMenuTriggerFor]="userMenu">Hello, {{ name }}</button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item>Profile</button>
          <button mat-menu-item (click)="signout()">Signout</button>
        </mat-menu>
      </li>      
    </ul>
    
    <div class="form-inline my-2 my-lg-0">      

      <input #searchText class="form-control mr-sm-2" type="search" 
        placeholder="Search" aria-label="Search" (keyup.enter)="search(searchText.value)">
        
      <button mat-icon-button class="btn btn-outline-success my-2 my-sm-0" (click)="search(searchText.value)">        
        <mat-icon matSuffix>search</mat-icon>            
      </button>
    </div>
  </div>
</nav>