.form-control {
    width: 300px;
}

.profile-avatar {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover; */
    vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-avatar:hover {
    cursor: pointer;
}