.comment {    
    display: flex;
    flex-direction: column;
}

pre {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12pt;
}

.avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.comment-header {
    display: flex;    
}

.comment-subtitle {
    font-size: 11pt;
    color: grey;
}

.mat-icon {
    transform: scale(0.7);
}

button {
    color: grey;
}

.reply-form {
    margin-left: 50px;
}