<div *ngIf="postResponses">    
    <h2>{{ postResponses?.data.length}} Comments</h2>

    <div *ngFor="let post of postResponses?.data" class="comment">    
            <div class="comment-header mb-4 my-2">     
                <div mat-card-avatar class="avatar"></div>
                <div class="comment-subtitle ml-3">
                    <div>
                    {{ post.userName }}   <br>
                    Posted {{ post.postDate | date: 'medium' }}
                    </div>            
                    
                </div>        
            </div>
            
            <div>
                <pre [innerHTML]="post.postText | linkify"></pre>
            </div>
        
            <div class="actions ">
                <div class="action-item"
                  matTooltip="Like this post" matTooltipPosition="above">
                        <mat-icon >thumb_up</mat-icon>
                        <span *ngIf="post.likeCount > 0">{{ post.likeCount }}</span>
                </div>
                <div class="action-item" (click)="showReplyForm()"
                    matTooltip="Reply to this post" matTooltipPosition="above" >
                    <mat-icon>reply</mat-icon>
                </div>
                <div class="action-item"
                    matTooltip="Quote this post" matTooltipPosition="above">
                    <mat-icon>format_quote</mat-icon>
                </div>

                <mat-menu #postMenu="matMenu">
                    <button mat-menu-item>Follow this post</button>
                    <button mat-menu-item>Follow {{ post.userName }} </button>
                    <button mat-menu-item>Mute</button>
                    <button mat-menu-item>Block</button>
                    <button mat-menu-item>Report</button>            
                </mat-menu>
                <div class="action-item" [matMenuTriggerFor]="postMenu"
                    matTooltip="More" matTooltipPosition="above">
                    <mat-icon>more_horiz</mat-icon>
                </div>                
            </div>
            <app-reply-form 
                [post]="post" 
                [formVisible]="false"
                class="reply-form mb-2" 
                [cancelButtonVisible]="true"
                #replyFormComponent></app-reply-form>
            <app-response-comments 
                [post]="post" 
                *ngIf="post.commentCount > 0"></app-response-comments>
            
        <mat-divider></mat-divider>        
    </div>
</div>
