

.comment {    
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.comment:hover {
    background-color: #efefef;
}

.avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.comment-header {
    display: flex;    
}

.comment-subtitle {
    font-size: 10pt;
    color: grey;
}

.mat-icon {
    transform: scale(0.7);
}

button {
    color: grey;
}

.reply-form {
    /* margin-left: 50px; */
    display: block;
}

.actions {
    display: flex;
    color: grey;
    /* align-items: stretch; */
    /* border: 1px solid #efefef; */
    height: 25px;
}

.action-item {
    min-width: 75px;
}

.action-item:hover {
    cursor: pointer;
}

.default {
    color: grey;
}

.highlight {
    font-weight: bold;
}