<div *ngIf="postResponses">    
    <h2>{{ postResponses?.data.length}} Comments</h2>

    <div *ngFor="let post of postResponses?.data" class="comment">    
            <div class="comment-header mb-4 my-2">     
                <div mat-card-avatar class="avatar"></div>
                <div class="comment-subtitle ml-3">
                    <div>
                    {{ post.userName }}   <br>
                    Posted {{ post.postDate | date: 'medium' }}
                    </div>            
                    
                </div>        
            </div>
            
            <div>
                <pre [innerHTML]="post.postText | linkify"></pre>
            </div>
        
            <!-- <app-post-actions></app-post-actions> -->
            <app-response-comments 
                [post]="post" 
                *ngIf="post.commentCount > 0"></app-response-comments>
            
            <mat-divider></mat-divider>        
    </div>
</div>
