<mat-card>

    <mat-card-content>
    <form class="tiririt-form" [formGroup]="newPostForm" (ngSubmit)="submit()">
        Use common tags:
        <div class="tag-options">            
            <div class="tag-option link" (click)="useTag('#Investments')">#Investments</div> 
            <div class="tag-option link" (click)="useTag('#PhilEconomy')">#PhilEconomy</div>
            <div class="tag-option link" (click)="useTag('#USMarket')">#USMarket</div>
            <div class="tag-option link" (click)="useTag('#ForSale')">#ForSale</div> 
            <div class="tag-option link" (click)="useTag('#TradeIde')">#TradeIdea</div>
            <div class="tag-option link" (click)="useTag('#Swerte')">#Swerte</div>
            <div class="tag-option link" (click)="useTag('#Malas')">#Malas</div> <br>
            <div class="tag-option link" (click)="useTag('#KumikitangKabuhayan')">#KumikitangKabuhayan</div>
            <div class="tag-option link" (click)="useTag('#FundamentalAnalysis')">#FundamentalAnalysis</div>
            <div class="tag-option link" (click)="useTag('#TechnicalAnalysis')">#TechnicalAnalysis</div>
        </div>
        <mat-form-field class="form-field">
            <!-- <mat-label *ngIf="!dialogMode">Say something about your favorite stock</mat-label> -->
            
            <textarea matInput placeholder="Ex. @supertrader @bulltactics $GLO did very well last quarter. #panalo" 
                id="postText" name="postText" formControlName="postText"
                maxlength="{{ maxPostLength }}" rows="5" (keyup)="onKeyUp($event)"></textarea>
                        
                
            <span class="charCount">characters remain: {{ charCount }}</span>
        </mat-form-field> 
        <div *ngIf="defaultValue.quotePost" class="quote-post">
            You are reposting:
            <blockquote>
            <strong>{{ defaultValue.quotePost.userName }}</strong> said:
            <br>
            <pre [innerHtml] = "defaultValue.quotePost.postText"></pre>
            </blockquote>
        </div>
        
    </form>    

    <div class="post-action-container">
        <div class="post-bear-bull">
            <button mat-stroked-button color="basic" (click)="bearishClick()" [class.isBearish]="isBearish">
                Bearish</button>
            <button mat-stroked-button color="basic" (click)="bullishClick()" [class.isBullish]="isBullish">                
                Bullish</button>

        </div>
        <div class="post-buttons" *ngIf="dialogMode">            
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="!newPostForm.valid"
                mat-dialog-close>Post</button>
        </div>
        <div class="post-buttons" *ngIf="!dialogMode">            
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="!newPostForm.valid"
                >Post</button>
        </div>
    </div>
    <ngx-spinner></ngx-spinner>
</mat-card-content>

</mat-card>