<mat-card>

    <mat-card-content>
    <form class="tiririt-form" [formGroup]="newPostForm" (ngSubmit)="submit()">
        <mat-form-field class="form-field">
            <!-- <mat-label *ngIf="!dialogMode">Say something about your favorite stock</mat-label> -->
            <textarea matInput placeholder="Ex. @supertrader @bulltactics $GLO did very well last quarter. #panalo" 
                id="postText" name="postText" formControlName="postText"
                maxlength="{{ maxPostLength }}" rows="3" (keyup)="onKeyUp($event)"></textarea>
            <span class="charCount">characters remain: {{ charCount }}</span>
        </mat-form-field>
    </form>    
<!-- <mat-card-actions> -->
    <div class="post-action-container">
        <div class="post-bear-bull">
            <button mat-stroked-button color="basic" (click)="bearishClick()" [class.isBearish]="isBearish">
                Bearish</button>
            <button mat-stroked-button color="basic" (click)="bullishClick()" [class.isBullish]="isBullish">                
                Bullish</button>

        </div>
        <div class="post-buttons" *ngIf="dialogMode">            
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="!newPostForm.valid"
                mat-dialog-close>Post</button>
        </div>
        <div class="post-buttons" *ngIf="!dialogMode">            
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="!newPostForm.valid"
                >Post</button>
        </div>
    </div>
    <ngx-spinner></ngx-spinner>
</mat-card-content>

<!-- </mat-card-actions>     -->
</mat-card>