.mat-card {
    min-width: 500px;
    max-width: 600px;
}

.tiririt-form {
    width: 100%;
}

.form-field {
    width: 100%;
}

.post-action-container {
    display: flex;
}

.post-bear-bull {
    width: 70%;
}

.post-buttons {
    width: 30%;
    text-align: right;
}

.isBearish {
    background-color: red;
    color: white;
}

.isBullish {
    background-color: green;
    color: white;
}

.charCount {
    margin-top: 5px;
    font-size: 9pt;
    color: grey;
    float: right;
}

.quote-post pre {
    max-height: 75px;
}