/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.link {
    color: #2587ff;
}

pre {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12pt;
}