<header> 
  <div class="navbar navbar-light bg-light box-shadow">
    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <strong>Juan Plus Juan</strong>
      </a>
      <nav *ngIf="!isAuthenticated" class="my-2 my-md-0 mr-md-3">
         <!-- <a class="p-2 text-dark" routerLink="/register">Signup</a>  -->
         <button class="btn btn-primary" (click)="register()">Signup</button>
         <!-- <a class="p-2 text-dark" routerLink="/login">Login</a>      -->
         <button class="btn" (click)="login()">Login</button>
      </nav>
      <!-- <nav *ngIf="isAuthenticated" class="my-2 my-md-0 mr-md-3">
         <a class="p-2 text-light" routerLink="/topsecret">Top Secret Area</a>  
         <a class="p-2 text-light" (click)="signout()" href="javascript:void(0)">Signout {{name}}</a>               
      </nav> -->
    </div>    
  </div>
</header>
