.flexbox-container {
    display: flex;    
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    min-height: 200px;
    /* border: 3px solid #333;
    background-color: #dfdfdf; */
}

.side-navigation {    
    flex-shrink: 0;
    width: 300px;
}

.flex-content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

pre { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12pt;
}

.mat-card-header {
    display: flex;
}

.mat-card-subtitle {
    flex-shrink: 0;
}

.mat-card-actions {
    height: fit-content;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

button {
    color: grey;
}

.bearbullindicator {    
    color: white;
    width: 50px;    
    text-align: center;
    height: 25px;
    font-size: 9pt;
    float: right;
}

.bullish {
    background-color: green;
}

.bearish {
    background-color: red;
}

.mat-icon {
    transform: scale(0.7);
}

