
    <div class="flexbox-container">
        <div class="flexbox-item side-navigation">
            <app-side-nav-menu></app-side-nav-menu>
        </div>
        <div class="flex-content-container my-2" *ngIf="post">
            <div class="row">

                <button mat-icon-button (click)="goBack()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    Back to feeds</button>

            </div>  
            <mat-card>
                <mat-card-header>     
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-subtitle>
                        <div>
                        {{ post?.userName }}  <br>
                        Posted {{ post?.postDate | date: 'medium' }}
                        </div>            
                        
                    </mat-card-subtitle>        
                    <div class="bearbullindicator">
                        <div class="bearbullindicator1 bullish"  *ngIf="isBullish(post.bullBearLevel)">Bullish</div>
                        <div class="bearbullindicator1 bearish"  *ngIf="isBearish(post.bullBearLevel)">Bearish</div>
                    </div>
                </mat-card-header>
                
                <mat-card-content>
                    <div class="content">
                        <div class="post-text">
                            <pre *ngIf="showMore" [innerHTML]="post.postText | linkify"></pre>            
                            <pre *ngIf="!showMore" [innerHTML]="(post.postText | linkify | slice:0:300) + (post.postText.length > 300 ? '...' : '')"></pre>      
                            <div *ngIf="post.postText.length > 300">                
                                <a href="javascript:;" *ngIf="!showMore" (click)="showMore=true">Show More</a>     
                            </div>
                            <div *ngIf="showMore">
                                <a href="javascript:;" (click)="showMore=false">Show Less</a>     
                            </div>
                        </div>            
                    </div>
                </mat-card-content>
            
                <mat-card-actions>
                    <button mat-icon-button
                        matTooltip="Like this post" matTooltipPosition="above">
                        <!-- <span matBadge="{{ post.likeCount }}" matBadgePosition="before" matBadgeColor="accent" matBadgeSize="small" *ngIf="post.likeCount > 0"></span> -->
                            <!-- <img src="https://img.icons8.com/material-sharp/24/000000/thumb-up.png"/>                 -->
                            <mat-icon >thumb_up</mat-icon>
                            <span *ngIf="post.likeCount > 0">{{ post.likeCount }}</span>
                    </button>
                    <!-- <button mat-icon-button (click)="showReplyDialog(post)"
                        matTooltip="Reply to this post" matTooltipPosition="above" >
                        <mat-icon>reply</mat-icon>
                    </button> -->
                    <button mat-flat-button 
                        matTooltip="Quote this post" matTooltipPosition="above">
                        <mat-icon>format_quote</mat-icon>
                        REPOST
                    </button>
                    
                    <mat-menu #postMenu="matMenu">
                        <button mat-menu-item>Follow this post</button>
                        <button mat-menu-item>Follow {{ post.userName }} </button>
                        <button mat-menu-item>Mute</button>
                        <button mat-menu-item>Block</button>
                        <button mat-menu-item>Report</button>            
                    </mat-menu>
                    <button mat-icon-button [matMenuTriggerFor]="postMenu"
                        matTooltip="More" matTooltipPosition="above">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <!-- <mat-divider></mat-divider> -->    
            <div class="my-2 ml-4">        
                <!-- <app-submit-post-form [dialogMode]="false"></app-submit-post-form> -->
                <div *ngIf="post">                    
                    <app-post-response [postData]="post"></app-post-response>                    
                </div>
            </div>    

        </div>

    </div>

    


