<mat-tab-group mat-align-tabs="center" backgroundColor="primary" color="accent">
    <mat-tab *ngIf="isAuthenticated">
        <ng-template mat-tab-label>
            <mat-icon matBadge="5" matBadgePosition="above before" matBadgeColor="accent">chat_bubble_outline</mat-icon>
            My Feed
        </ng-template>
        <app-my-feed></app-my-feed>
    </mat-tab>
    <mat-tab label="Trending">
        <ng-template mat-tab-label>
            <mat-icon matBadge="10" matBadgePosition="above before" matBadgeColor="accent">trending_up</mat-icon>
            Trending
        </ng-template>
        <app-trending-feed></app-trending-feed>
    </mat-tab>
    <mat-tab label="Market Summary">
        <ng-template mat-tab-label>
            <mat-icon>bar_chart</mat-icon>
            Market Summary
        </ng-template>
        <app-market-summary></app-market-summary>
    </mat-tab>
    <mat-tab label="News">
        <ng-template mat-tab-label>
            <mat-icon matBadge="2" matBadgePosition="above before" matBadgeColor="accent">rss_feed</mat-icon>
            News
        </ng-template>
        <app-news-feed></app-news-feed>
    </mat-tab>
    
</mat-tab-group>