.mat-button-toggle-group {
    margin: 10px;
}

.feed-filter {
    width: 100%;
    text-align: center;
}

.mat-spinner {
    text-align: center;
}

.post-item-containter {
    display: flex;
    flex-direction: column;
}