<div class="feed-filter">
<mat-button-toggle-group appearance="legacy">
    <mat-button-toggle selected>All</mat-button-toggle>
    <mat-button-toggle>Mentions</mat-button-toggle>
    <mat-button-toggle>Watch List</mat-button-toggle>
    <mat-button-toggle>Subscription</mat-button-toggle>
    <mat-button-toggle>Bullish</mat-button-toggle>
    <mat-button-toggle>Bearish</mat-button-toggle>
</mat-button-toggle-group>
</div>

<div *ngFor="let post of myFeed">    
<mat-card routerLink="['post', post.postId]">
    <mat-card-header>     
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-subtitle>
            <div>
            {{ post.userName }}   <br>
            Posted {{ post.postDate }}
            </div>            
        </mat-card-subtitle>
        <div class="bearbullindicator">            
            <mat-icon svgIcon="bullish" *ngIf="post.bullBearLevel == 'VeryBullish'"></mat-icon>
            <mat-icon svgIcon="bearish" *ngIf="post.bullBearLevel == 'VeryBearish'"></mat-icon>
        </div>
    </mat-card-header>
    
    <mat-card-content>
        <p>{{ post.postText }}</p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-icon-button >
            <mat-icon>reply</mat-icon>
        </button>
        <button mat-icon-button >
            <mat-icon>format_quote</mat-icon>
        </button>
        <button mat-icon-button>
            <span matBadge="{{ post.responseCount }}" matBadgePosition="before" matBadgeColor="accent"></span>
                <mat-icon>mode_comment</mat-icon>
        </button>
        <button mat-icon-button>
            <span matBadge="{{ post.likeCount }}" matBadgePosition="before" matBadgeColor="accent"></span>
                <img src="https://img.icons8.com/material-sharp/24/000000/thumb-up.png"/>                
        </button>
        <!-- <button mat-stroked-button matBadge="{{ post.dislikeCount }}" matBadgePosition="before" matBadgeColor="accent">
                <img src="https://img.icons8.com/material-rounded/24/000000/thumbs-down.png"/>
        </button> -->
        
    </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
</div>
