<div class="feed-filter" *ngIf="feedFilterVisible">
    <mat-button-toggle-group appearance="legacy" #group="matButtonToggleGroup">
        <mat-button-toggle checked value="all" (click)="loadAll()">All</mat-button-toggle>
        <mat-button-toggle value="mentions" (click)="loadMentions()">Mentions</mat-button-toggle>
        <mat-button-toggle value="watchlist" (click)="loadWatchList()">Watch List</mat-button-toggle>
        <mat-button-toggle value="subscription" (click)="loadSubscription()">Subscription</mat-button-toggle>
    </mat-button-toggle-group>    
</div>

<div *ngFor="let post of myFeed?.data" class="post-item-containter">    
    <app-post-item [post]="post"></app-post-item>
</div>

<mat-spinner [diameter]="25" [hidden]="spinnerHidden"></mat-spinner>
