.mat-card {
    cursor: pointer;
}

.mat-card:hover {
    background-color: #efefef;
}

.mat-card-header {
    display: flex;
}

.mat-card-subtitle {
    flex-shrink: 0;
}

.bearbullindicator {
    text-align: right;
    flex-grow: 1;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-button-toggle-group {
    margin: 10px;
}

.feed-filter {
    width: 100%;
    text-align: center;
}

/* .bullish {
    background-color: green;
    height: 40px;
    width: 40px;
    float: right;
    padding: 2px; 
} */