<div class="flexbox-container" infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div class="flexbox-item side-navigation" >        
        <app-side-nav-menu></app-side-nav-menu>
    </div>

    <div class="flexbox-item main-content">
        <div class="flex-main-content">
            <!-- <h1>Trending Posts</h1>        
            <app-trending-feed></app-trending-feed> -->
            <app-feed-container></app-feed-container>
        </div>
    </div>

    <div class="flexbox-item side-navigation">
        <app-side-nav-menu2></app-side-nav-menu2>
    </div>
</div>


