.flexbox-container {
    display: flex;  
    /* align-items: center;       */
    /* flex-wrap: wrap; */
}

.flexbox-item {
    min-width: 200px;
    margin: 10px;
    min-height: 200px;
    /* border: 3px solid #333;
    background-color: #dfdfdf; */
}

.side-navigation {    
    flex-shrink: 0;
    width: 300px;
}

.main-content {
    flex-grow: 1;
}

 /* column flex direction content */

.flex-main-content {
    display: flex;
    flex-direction: column;
}

    .flex-main-content-item1 {
        flex-shrink: 0;
    }

    .flex-main-content-item2 {
        flex-grow: 1;
    }