.container {
    display: block;
    /* justify-content: space-between;         */
}

/* .login-section {
    flex-shrink: 0;
    width: 275px;
    border: 0;      
    margin-top: 50px;
} */

.welcome-section {
    flex-grow: 1;    
    margin: 10px;
}

.form-header {
    text-align: center;
}

/* .btn {
    width: 100%
} */