.flexbox-container {
    display: flex;    
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    min-height: 200px;
}

.side-navigation {    
    flex-shrink: 0;
    width: 250px;
}

.main-content {
    flex-grow: 1;
}

 /* column flex direction content */

.flex-main-content {
    display: flex;
    flex-direction: column;
}    
    .flex-stock-stats {
        flex-shrink: 0;
        /* border: 1px solid #efefef; */
        display: flex;                
    }    

        .flex-stock-stats-item1 {
            /* border: 1px solid #efefef; */
            width: 350px;
        }

        .flex-stock-stats-item2 {
            /* border: 1px solid #efefef; */
            margin-left: 5px;
            flex-grow: 1;           
        }

    .flex-main-content-item2 {
        flex-grow: 1;
    }

    

dt {
    font-size: 9pt;
    font-weight: normal;
}

.stock-price {
    font-size: 16pt;
}

.stock-trade-date {
    font-size: 9pt;
    text-align: center;
}

.stock-symbol {
    font-size: 16pt;
}

.sentiment {    
    border:solid; /* no info for size nor color yet */
    /* box-shadow: 0 0 0 8px #f7f7f7; */
    border-radius:3px; /* prefix not needed anymore */
    padding: 2px;
}

.up {
    color: green;
}

.down {
    color: red;
}

.bearish-td {
    background-color: red;
    color: white;
    text-align: center;
}

.bullish-td {
    background-color: green;
    color: white;
    text-align: center;
}

.stock-intraday {
    font-size: 9pt;
}

.watchers {
    font-size: 9pt;
}

.sentiment-container {
    height: 300px;
}

.first-post {
    text-align: center;
}