
<div class="flexbox-container">
    <div class="flexbox-item side-navigation" >
        <app-side-nav-menu></app-side-nav-menu>
    </div>

    <div class="flexbox-item main-content">
        <div class="flex-main-content">      
            <div>
                <span class="stock-name">{{ stock?.name }}</span> <br>
                <span class="stock-symbol">{{ stock?.symbol }}</span>
                <div style="float:right">
                    <div *ngIf="!stock?.isWatchedByUser">
                        <button mat-raised-button color="primary" (click)="watchStock(stock?.symbol)">
                            Watch
                        </button>
                        <span class="watchers ml-2">{{ stock?.watchersCount }} watchers</span>
                    </div>
                    <div *ngIf="stock?.isWatchedByUser">
                        <button mat-stroked-button color="primary" (click)="unwatch(stock?.symbol)">Unwatch</button>                                                
                        
                        <span class="watchers ml-2">{{ stock?.watchersCount }} watchers</span>
                    </div>                    
                </div>
            </div>
            <div class="flex-stock-stats">
                <div class="flex-stock-stats-item1">
                    <table style="width: 100%">                    
                        <tbody>
                            <tr>
                                <td>
                                    <dl>
                                        <dt>Last Trade</dt>
                                        <dd class="stock-price">{{ stock?.lastTradePrice | currency: '&#8369;' }}</dd>
                                    </dl>
                                </td>     
                                <td>
                                    <dl>
                                        <dt>Change</dt>
                                        <dd [ngClass]="stock?.pointsChange > 0 ? 'stock-price up' : 'stock-price down'">
                                            <span *ngIf="stock?.pointsChange > 0">+</span>{{ stock?.pointsChange}} (<span *ngIf="stock?.pointsChange > 0">+</span>{{ stock?.percentChange }}%)
                                        </dd>
                                    </dl>
                                </td>
                                <td>
                                    <dl>
                                        <dt>Volume</dt>
                                        <dd>{{ stock?.volume | number }}</dd>
                                    </dl>
                                </td>     
                            </tr>
                        </tbody>
                    </table>
                    <div class="stock-trade-date">As of {{ stock?.lastTradeDate | date: "MM/dd/yyyy"}}</div>                                                        
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="flex-stock-stats-item2">
                    <table style="width: 100%;">                    
                        <tbody>
                            <tr>
                                <td>
                                    <dl>
                                        <dt>Prev. Close</dt>
                                        <dd>{{ stock?.previousClose | number }}</dd>
                                    </dl>
                                </td>
                                <td>
                                    <dl>
                                        <dt>Open</dt>
                                        <dd>{{ stock?.open | number }}</dd>
                                    </dl>
                                </td>     
                                <td>
                                    <dl>
                                        <dt>High</dt>
                                        <dd>{{ stock?.high }}</dd>
                                    </dl>
                                </td>     
                                <td>
                                    <dl>
                                        <dt>Low</dt>
                                        <dd>{{ stock?.low }}</dd>
                                    </dl>
                                </td>     
                                <td>
                                    <dl>
                                        <dt>NFB</dt>
                                        <dd>{{ stock?.netForeignBuy | number }}</dd>
                                    </dl>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
    
        <app-stock-chart></app-stock-chart>
        <div class="row mb-2">
            <table width="100%">
                <tr>
                    <td class="bullish-td" width="70%">Bullish 
                        <span class="watchers">(123 posts)</span>
                    </td>
                    <td class="bearish-td" width="30%">
                        Bearish
                        <span class="watchers">(20 posts)</span>
                    </td>
                </tr>
            </table>
            
        </div>
            <div *ngIf="stockFeed?.data.length > 0">
                <div *ngFor="let post of stockFeed?.data" class="flex-main-content-item2">    
                    <app-post-item [post]="post"></app-post-item>
                </div>
            </div>

            <div *ngIf="stockFeed?.data.length == 0" class="first-post">
                <h2>What!? Nobody posted anything yet on this stock?</h2>

                <button mat-raised-button color="primary" (click)="showNewPostDialog()">Click me to be the first!</button>
            </div>
        </div>
    </div>

</div>


