.mat-expansion-panel:not(.mat-expanded) 

.mat-expansion-panel-header:not([aria-disabled='true']):hover {   background: white; }

.mat-expansion-panel-header {
    /* height: 25px; */
    padding-top: 0;
    margin-bottom: 5px;
}

.mat-expansion-panel-body {
    padding: 0;
}

.avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    height: 25px;
    width: 25px;    
}

.comment-header {
    display: flex;    
}

.comment-subtitle {
    font-size: 11pt;
    color: grey;
}

.mat-icon {
    transform: scale(0.7);
}

button {
    color: grey;
}

.reply-form {
    margin-left: 50px;
    display: block;
}

.actions {
    display: flex;
    color: grey;
    /* align-items: stretch; */
    /* border: 1px solid #efefef; */
    height: 25px;
}

.action-item {
    width: 24px;
    margin-right: 10px;
}

.action-item:hover {
    cursor: pointer;
}