.mat-accordion {
    font-size: 10pt;
}

.mat-expansion-panel:not(.mat-expanded) 

.mat-expansion-panel-header:not([aria-disabled='true']):hover {   background: white; }

.mat-expansion-panel-header {
    font-size: 10pt;
    padding-top: 0;
    margin-bottom: 5px;
}

.mat-expansion-panel-body {
    padding: 0;
}

.avatar {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.commentContainer {
    display: flex;
    flex-direction: column;
}

.comment-header {
    display: flex;    
}

.comment-subtitle {
    font-size: 10pt;
    color: grey;
}

.mat-icon {
    transform: scale(0.7);
}

button {
    color: grey;
}

.reply-form {
    /* padding-left: 50px; */
    display: block;
}

.actions {
    display: flex;
    color: grey;
    height: 25px;
    padding: 0;
    font-size: 10pt;
    align-items: stretch;
}

.action-item {
    min-width: 75px;
    /* margin-right: 10px; */
    /* border: 1px solid #efefef; */

}

.action-item:hover {
    cursor: pointer;
}

.default {
    color: grey;
}

.small {
    font-size: 10pt;
}

.highlight {
    /* border-radius: 25px;
    background-color: #efefef; */
    font-weight: bold;
}