.watchlist-container {
    margin: 5px;
    width: 100%;
}

.toolbar {
    width: 100%;
}

.mat-form-field {
    width: 100px;
    margin-right: 5px;
}

table {
    width: 100%;
}

.deleteButton {
    display: none;
}
.mat-row:hover .deleteButton{    
    display: block;    
}

.stockSymbolInput {
    text-transform: uppercase;
}