/* .watchlist-container {
    max-height: 500px;
    overflow: auto;
} */

/* table  {
    height: 300px;
} */

.toolbar {
    width: 100%;
}

.mat-form-field {
    width: 100px;
    margin-right: 5px;
}

table {
    width: 100%;
}

.deleteButton {
    display: none;
}
.mat-row:hover .deleteButton{    
    display: block;    
}

.stockSymbolInput {
    text-transform: uppercase;
}

.up {
    color: green;
}

.down {
    color: red;
}