<div class="watchlist-container">
    
    <mat-form-field>
        <input matInput placeholder="Enter symbol" id="stockSymbol" name="stockSymbol" #stockSymbol
            (keyup.enter)="onEnterKey($event)" class="stockSymbolInput">        
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addStock(stockSymbol.value)">Add</button>    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" 
        matSort (matSortChange)="sortData($event)" matSortActive="symbol" matSortDirection="asc">
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
            <td mat-cell *matCellDef="let stock">
               <span>
                   <a [routerLink]="['/stock/', stock.symbol]" routerLinkActive="active">{{ stock.symbol }}</a>
                </span>
            </td>
        </ng-container>        

        <ng-container matColumnDef="lastTradePrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Price</th>
            <td mat-cell *matCellDef="let stock">
                <span>{{ stock.lastTradePrice | number }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="percentChange">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>% Change</th>
            <td mat-cell *matCellDef="let stock">
                <span [ngClass]="stock?.pointsChange > 0 ? 'up' : 'down'">
                    {{ stock.percentChange | number }}%
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let stock">
                <button mat-icon-button class="deleteButton" (click)="deleteStock(stock.symbol)"><mat-icon>delete_forever</mat-icon></button>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <ngx-spinner></ngx-spinner>
</div>
