<!-- <ul>
	<li *ngFor="let o of rssData?.rss.channel.item">
		<a href="{{ o.link }}">{{ o.title }}</a>
	</li>
</ul> -->

<div *ngFor="let rss of rssData?.rss.channel.item">    
	<mat-card>
		<mat-card-header>     
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-subtitle>
				<div>
				<a href="https://investing.einnews.com/news/philippine-stock-exchange">EIN News</a>   <br>
				Posted {{ rss.pubDate }}
				</div>            
			</mat-card-subtitle>	
		</mat-card-header>
		
		<mat-card-content>
			<a href="{{ rss.link }}"><p>{{ rss.title }}</p></a>
			
			{{ rss.description | striphtml }}
		</mat-card-content>
	
		<mat-card-actions>			
			<button mat-icon-button >
				<mat-icon class="icon-display">format_quote</mat-icon>
			</button>			
		</mat-card-actions>
	</mat-card>
	<mat-divider></mat-divider>
	</div>