.post-container {    
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: stretch;
}

.post-container:hover {
    background-color: #efefef;
}

.post-container-nohover {
    padding: 5px;
}

.content {
    font-size: 10pt;    
    flex-grow: 1;
}
    .post-text {
        white-space: nowrap;
    }

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-header {
    display: flex;    
}

.comment-subtitle {
    font-size: 10pt;
    color: grey;
}

.mat-icon {
    transform: scale(0.7);
}

button {
    color: grey;
}

.reply-form {
    /* margin-left: 50px; */
    display: block;
}

.actions {
    display: flex;
    color: grey;
    /* align-items: stretch; */
    /* border: 1px solid #efefef; */
    height: 25px;
}

.action-item {
    min-width: 75px;
}

.action-item:hover {
    cursor: pointer;
}

.default {
    color: grey;
}

.bearbullindicator {    
    color: white;
    width: 50px;    
    text-align: center;
    height: 25px;
    font-size: 9pt;
    float: right;
}

.bullish {
    background-color: green;
}

.bearish {
    background-color: red;
}


/* 

.mat-card:hover {
    background-color: #efefef;
} 

.mat-card-header {
    display: flex;
}

.mat-card-subtitle {
    flex-shrink: 0;
    font-size: 10pt;
}

.mat-card-actions {
    height: fit-content;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

button {
    color: grey;
}

.bearbullindicator {    
    color: white;
    width: 50px;    
    text-align: center;
    height: 25px;
    font-size: 9pt;
    float: right;
}

.bullish {
    background-color: green;
}

.bearish {
    background-color: red;
}

.mat-icon {
    transform: scale(0.7);
}

.mat-card-actions {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    color: grey;
    height: 25px;
    padding: 0;
    font-size: 10pt;
}

.action-item {
    min-width: 75px;
   
}

.default {
    color: grey;
}

.action-item:hover {
    cursor: pointer;
} */
