/* .mat-card {
    cursor: pointer;
} */

.mat-card:hover {
    background-color: #efefef;
} 

.mat-card-header {
    display: flex;
}

.mat-card-subtitle {
    flex-shrink: 0;
    font-size: 10pt;
}

.mat-card-actions {
    height: fit-content;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

button {
    color: grey;
}

.bearbullindicator {    
    color: white;
    width: 50px;    
    text-align: center;
    height: 25px;
    font-size: 9pt;
    float: right;
}

.bullish {
    background-color: green;
}

.bearish {
    background-color: red;
}

.mat-icon {
    transform: scale(0.7);
}

.mat-card-actions {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    color: grey;
    /* align-items: stretch; */
    /* border: 1px solid #efefef; */
    height: 25px;
    padding: 0;
}

.action-item {
    width: 24px;
    margin-right: 10px;
}

.action-item:hover {
    cursor: pointer;
}
